<div class="profile twitter modal fade" id="twitter-profile">
  <div class="profile-info">
    <button class="close" data-dismiss="modal">×</button>
    <a href="http://twitter.com/#!/<%= Twitter.screen_name %>" class="profile-avatar">
      <img src="<%= Twitter.profile_image_url %>" alt="<%= Twitter.name %>" />
    </a>
    <div class="profile-name">
      <h2>
        <a href="http://twitter.com/#!/<%= Twitter.screen_name %>">
          <%= Twitter.name %>
        </a>
      </h2>
      <h3>
        <a href="http://twitter.com/#!/<%= Twitter.screen_name %>">
          @<%= Twitter.screen_name %>
        </a>
      </h3>
    </div>
    <p class="profile-description"><%= Twitter.description %></p>
    <p class="profile-location-url">
      <% if Twitter.location? %>
        <span><%= Twitter.location %></span>
        <span class="divider">·</span>
      <% end %>

      <% if Twitter.account_url? %>
        <span><a href="<%= Twitter.account_url %>"><%= Twitter.account_url %></a></span>
      <% end %>
    </p>
  </div>
  <ul class="profile-stats">
    <li>
      <a href="http://twitter.com/#!/<%= Twitter.screen_name %>6~">
        <strong><%= Twitter.statuses_count %></strong> tweets5~
      </a>
    </li>
    <li>
      <a href="http://twitter.com/#!/<%= Twitter.screen_name %>/following">
        <strong><%= Twitter.friends_count %></strong> following
      </a>
    </li>
    <li>
      <a href="http://twitter.com/#!/<%= Twitter.screen_name %>/followers">
        <strong><%= Twitter.followers_count %></strong> followers
      </a>
    </li>
  </ul>
  <div class="profile-info-footer">
    <a href="http://twitter.com/#!/<%= Twitter.screen_name %>" class="btn">
      Follow on Twitter
    </a>
  </div>

  <ul class="profile-tweets">
    <% Twitter.tweets.each do |tweet| %>
      <li>
        <a href="http://twitter.com/#!/<%= Twitter.screen_name %>" class="tweet-title">
          <img src="<%= Twitter.profile_image_url %>" alt="<%= Twitter.name %>" />
          <strong><%= Twitter.name %></strong>
          <span>@<%= Twitter.screen_name %></span>
        </a>
        <p class="tweet-text">
          <%= tweet.text %>
        </p>
        <p class="tweet-date">
          <%= tweet.formatted_date %>
        </p>
      </li>
    <% end %>
  </ul>
<div>
